.home-margin{
    margin-right: 150px;
    text-align: left;
  }
  
  .centered{
    font-family: Arial;
    font-weight: 200;
    text-align: center;
    border: 1px solid black;
    font-size: 50px;
    background-color: cornflowerblue;
    padding: 10px;
    margin-right: 400px;
    margin-left: 400px;
  }
  
  .title2{
    font-family: Arial;
    font-weight: 100;
    text-decoration: underline;    
  }
  
  .border{
    background-color: lightcoral;
    padding-left: 20px;
    border: 1px solid black;
    margin-bottom: 30px;
  }
  
  .main-margin{
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .footer-margin{
    margin-top: 100px;
    text-align: center;
  }
  
  .no-decoration{
    text-decoration: none;
  }
  