*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: rgb(44, 44, 44);
}

.header{
    background-color: black;
    display: flex;
    padding: 15px;
    justify-content: space-around;
  }
  
  .logo{
    width: 100px;
  }

  .nav{
    display: flex;
    gap: 60px;
    margin-top: 15px;
  }

  .nav a{
    text-decoration: none;
    color: whitesmoke;
  }

  .nav a:hover{
    color:brown;
  }

  .top5{
    
  }

  .centered{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 50px;
    padding: 30px;
    padding-left: 70px;
    margin-right: 400px;
    margin-left: 400px;
  }
  
  #epbdvdi{
   font-weight: 1;
  }

  .introVD{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  #darksoul{
    width: 250px;
  }

  #bioshock{
    width: 250px;
  }

  .thumb{

    box-sizing: border-box;
    border-radius: 10px;
    width: 150px;
  }

  .topVJ{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  h4{
    background-color:brown;
    padding:15px;
    font-size: 30px;
  }

  .border{
    padding-left: 20px;
    margin-bottom: 30px;
    color: whitesmoke;
  }
  
  .main-margin{
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .footer-margin{
    margin-top: 100px;
    text-align: center;
  }
  
  .no-decoration{
    text-decoration: none;
  }
  